In [2]:
import sys

import numpy as np
import pandas as pd

In [3]:
def distance(entity, stations):
    """
    Given a entity with 'latitude'/'longitude' (degrees)
    calculate its distance from each station 'lat'/'lon' (radians)
    """
    def hav(theta):
        """
        Haversine function on an angle (in radians)
        """
        return 0.5 * (1 - np.cos(theta))

    entity_lat = np.radians(entity['Latitude'])
    entity_lon = np.radians(entity['Longitude'])

    r = 6371  # in km
    h1 = hav(stations['Latitude_rad'] - entity_lat)
    h2 = np.cos(entity_lat)*np.cos(stations['Latitude_rad'])*hav(stations['Longitude_rad']-entity_lon)

    return 2 * r * np.arcsin(np.sqrt(h1 + h2))


def closest_station(entity, stations):
    """
        Returns the tmax of the station closest to the entity
    """
    return stations.iloc[distance(entity, stations).idxmin()]

In [4]:
lakes = pd.read_csv('reservoir_list.csv')
lakes.dropna(inplace=True)

In [5]:
stations = pd.read_csv('weather_station_inventory_bc.csv')
stations['Latitude_rad'] = np.radians(stations['Latitude (Decimal Degrees)'])
stations['Longitude_rad'] = np.radians(stations['Longitude (Decimal Degrees)'])

In [7]:
lakes.apply(closest_station, axis=1, stations=stations[stations['Climate ID'] != '1100360'])

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,...,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,Latitude_rad,Longitude_rad
0,HANEY UBC RF ADMIN,BRITISH COLUMBIA,1103332,776,NaN,NaN,49.26,-122.57,491552100,-1223423400,...,1961,2019,NaN,NaN,1961.0,2019.0,1961.0,2007.0,0.859749,-2.139250
2,CLOWHOM FALLS,BRITISH COLUMBIA,1041710,303,NaN,NaN,49.72,-123.53,494300000,-1233200000,...,1932,1990,NaN,NaN,1932.0,1990.0,1932.0,1990.0,0.867778,-2.156005
4,LAJOIE DAM,BRITISH COLUMBIA,1084490,522,NaN,NaN,50.83,-122.87,505000000,-1225200000,...,1963,1982,NaN,NaN,1963.0,1982.0,1963.0,1982.0,0.887151,-2.144486
5,PORT MOODY GLENAYRE,BRITISH COLUMBIA,1106CL2,834,NaN,NaN,49.28,-122.88,491645000,-1225253000,...,1970,2019,NaN,NaN,1970.0,2019.0,1970.0,2007.0,0.860098,-2.144661
6,BUNTZEN LAKE,BRITISH COLUMBIA,1101140,721,NaN,NaN,49.38,-122.87,492300000,-1225200000,...,1924,1983,NaN,NaN,1924.0,1983.0,1924.0,1983.0,0.861844,-2.144486
7,SKAGIT RIVER,BRITISH COLUMBIA,1117410,974,NaN,NaN,49.08,-121.17,490500000,-1211000000,...,1936,1955,NaN,NaN,1936.0,1955.0,1936.0,1955.0,0.856608,-2.114815
8,STAVE LAKE SEVENTYNINE CREEK,BRITISH COLUMBIA,1107689,868,NaN,NaN,49.28,-122.33,491700000,-1222000000,...,1987,1995,NaN,NaN,1987.0,1995.0,1987.0,1995.0,0.860098,-2.135061
9,TAPPEN,BRITISH COLUMBIA,1167980,1333,NaN,NaN,50.75,-119.33,504500000,-1192000000,...,1913,1961,NaN,NaN,1913.0,1961.0,1913.0,1961.0,0.885755,-2.082701
10,COQUITLAM MUNDY PARK,BRITISH COLUMBIA,1101891,752,NaN,NaN,49.25,-122.83,491500000,-1225000000,...,1988,1989,NaN,NaN,1988.0,1989.0,1988.0,1989.0,0.859575,-2.143788

In [15]:
distance(lakes.iloc[1], stations).idxmin()

349

In [7]:
stations.iloc[795]

Name                                AGASSIZ RCS
Province                       BRITISH COLUMBIA
Climate ID                              1100119
Station ID                                  706
WMO ID                                    71113
TC ID                                       WZA
Latitude (Decimal Degrees)                49.24
Longitude (Decimal Degrees)             -121.76
Latitude                              491435000
Longitude                           -1214537000
Elevation (m)                              19.3
First Year                                 1988
Last Year                                  2019
HLY First Year                             1994
HLY Last Year                              2019
DLY First Year                             1988
DLY Last Year                              2019
MLY First Year                             1988
MLY Last Year                              2006
Latitude_rad                             0.8594
Longitude_rad                          -2.12511
Name: 795, dtype: object

In [8]:
lakes.iloc[0]

Name                                                  ALOUETTE LAKE
ClosestStation                                              08MH148
Longitude                                                  -122.484
Latitude                                                    49.2872
Link              https://www.bchydro.com/energy-in-bc/operation...
Name: 0, dtype: object

In [9]:
stations[stations['Climate ID'] == '1100360']

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,...,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,Latitude_rad,Longitude_rad
801,ALOUETTE LAKE,BRITISH COLUMBIA,1100360,712,NaN,NaN,49.28,-122.48,491700000,-1222900000,...,1924,1982,NaN,NaN,1924.0,1982.0,1924.0,1982.0,0.860098,-2.137679

In [10]:
First Year Last Year

SyntaxError: invalid syntax (<ipython-input-10-285c983898be>, line 1)